services:
  - type: web
    name: digitalhippo
    env: node
    region: oregon
    plan: starter
    buildCommand: yarn install && yarn build
    startCommand: yarn start
    envVars:
      - key: NODE_VERSION
        value: 18.17.0
      - key: NODE_ENV
        value: production
      - key: PAYLOAD_CONFIG_PATH
        value: dist/payload.config.js
      - key: MONGODB_URL
        sync: false
      - key: PAYLOAD_SECRET
        sync: false
        generateValue: true
      - key: NEXT_PUBLIC_SERVER_URL
        sync: false
      - key: RESEND_API_KEY
        sync: false
      - key: STRIPE_SECRET_KEY
        sync: false
      - key: STRIPE_WEBHOOK_SECRET
        sync: false
      - key: NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY
        sync: false

